@value variables: "./variables.module.css";
@value primary, secondary, grey from variables;

.select_menu {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: #3a3a3a;
    padding: 0.6rem 0rem 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 0.1rem #aaaaaa solid;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%233a3a3a" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.4rem center;
    width: 90%;
    display: block;
}

.select_menu:focus-visible {
    outline: 0.1rem primary solid;
    border-color: transparent;
}

/* For Firefox, to remove the extra padding on the right */
@-moz-document url-prefix() {
    .styled-select {
        text-indent: 0.01px;
        text-overflow: '';
    }
}