@value variables: "./variables.module.css";
@value primary, secondary, grey from variables;

.tooltip {
    position: relative;
    display: inline-block;
    /* text-transform: capitalize; */
}

.tooltip::after, .tooltip::before {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 9999;
}

.tooltip::after {
    content: attr(data-tip);
    position: absolute;
    top: calc(100% + 0.2rem);
    left: 64%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 1rem;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    background-color: #2a2a2a;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip::before {
    content: "";
    bottom: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2a2a2a transparent;
}

.tooltip:hover::after, .tooltip:hover::before {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 576px) {
    .tooltip:hover::after {
        left: 50%;
    }
}